.user {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid ghostwhite;
    
    &__avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 10px 10px;
        background-color: rgb(245, 225, 225);
    }

    &__container {
        width: 50%;
        height: 100px;
        border-radius: 10px;
        
        padding: 10px;
        background-color: beige;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        display: block;
    }

    &__info-location {
        color: royalblue
    }

    &__info-status {
        margin-top: 20px;
        color: gray
    }
}

.pageNumber {
    &__list {
      text-align: center;
    }
    
    &__item {
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
        margin: 5px;
        border-radius: 3px;
        border: none;
        outline: none;
        background-color: rgb(50, 152, 220);
        color: #fff;
        cursor: pointer;
    }

    &__item--is-active {
        font-weight: bold;
        background-color: rgb(9, 119, 192);
    }
}