.navigation {
    padding: 20px;
    grid-area: nav;
    color: #fff;
    background-color: salmon;
    border: 1px solid salmon;

    &__list {
      margin: 10px 0;
      padding: 0;
      list-style: none;
    }

    &__link {
        text-decoration: none;
        color: #fff;
    }
}
